In [114]:
import pandas as pd

In [115]:
df = pd.read_csv('F:\loansData.csv')

In [116]:
df.head()

,id,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.months,Employment.Length
0,81174,20000,20000.0,8.90,36,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,1
1,99592,19200,19200.0,12.12,36,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2
2,80059,35000,35000.0,21.98,60,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2
3,15825,10000,9975.0,9.99,36,debt_consolidation,14.30,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5
4,33182,12000,12000.0,11.71,36,credit_card,18.78,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9

In [117]:
df.describe()

,id,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.months
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2499.000000,2498.000000,2498.000000,2498.000000
mean,51631.597200,12406.500000,12001.573236,13.066996,41.260800,15.377512,5688.931321,10.075661,15244.559648,0.906325
std,30053.345508,7801.544872,7745.320754,4.178230,9.930893,7.504959,3963.118185,4.508644,18308.549795,1.231036
min,10.000000,1000.000000,-0.010000,5.420000,36.000000,0.000000,588.500000,2.000000,0.000000,0.000000
25%,26523.000000,6000.000000,6000.000000,10.160000,36.000000,9.747500,3500.000000,7.000000,5585.750000,0.000000
50%,50653.000000,10000.000000,10000.000000,13.110000,36.000000,15.320000,5000.000000,9.000000,10962.000000,0.000000
75%,77580.500000,17000.000000,16000.000000,15.800000,36.000000,20.672500,6800.000000,13.000000,18888.750000,1.000000
max,104202.000000,35000.000000,35000.000000,24.890000,60.000000,34.910000,102750.000000,38.000000,270800.000000,9.000000

In [118]:
df[df['Amount.Funded.By.Investors'] < 0]

,id,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.months,Employment.Length
401,102441,7500,-0.01,12.29,36,educational,21.34,CA,MORTGAGE,8750.00,685-689,14.0,20947.0,7.0,5
1632,102444,2200,-0.01,13.87,36,credit_card,10.35,NJ,RENT,3333.33,640-644,10.0,11606.0,1.0,3

In [119]:
df = df.drop(df.index[401])

In [120]:
df = df.drop(df.index[1632])

In [121]:
df[df['Amount.Funded.By.Investors'] < 0]

,id,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.months,Employment.Length
1632,102444,2200,-0.01,13.87,36,credit_card,10.35,NJ,RENT,3333.33,640-644,10.0,11606.0,1.0,3

In [139]:
data = df[['Interest.Rate', 'FICO.Range', 'Amount.Requested']]
data = data.rename(columns={'FICO.Range': 'fico', 'Amount.Requested': 'amount', 'Interest.Rate': 'interest'})
data['fico_avr'] = (pd.to_numeric(data.fico.str.split("-").str[0]) + pd.to_numeric(data.fico.str.split("-").str[1]))/2
data.head()

   interest     fico  amount  fico_avr
0      8.90  735-739   20000     737.0
1     12.12  715-719   19200     717.0
2     21.98  690-694   35000     692.0
3      9.99  695-699   10000     697.0
4     11.71  695-699   12000     697.0

In [151]:
data.shape

(2498, 4)

In [152]:
data['good_interest'] = 1
data['good_interest'][data['interest'] > 12] = 0
data.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   interest     fico  amount  fico_avr  good_interest
0      8.90  735-739   20000     737.0              1
1     12.12  715-719   19200     717.0              0
2     21.98  690-694   35000     692.0              0
3      9.99  695-699   10000     697.0              1
4     11.71  695-699   12000     697.0              1

#Logistic regression

In [123]:
from sklearn import linear_model

In [153]:
X = data[['amount','fico_avr']]
y = data['good_interest']

In [154]:
logistic = linear_model.LogisticRegression()

In [156]:
model = logistic.fit(X,y)

In [158]:
model.coef_

array([[ -7.38143193e-05,   7.45696711e-04]])

In [163]:
model.intercept_

array([-0.00053727])

In [166]:
model.predict([[10000,750]])

array([0], dtype=int64)

In [167]:
model.predict_proba([[10000,750]])

array([[ 0.54473206,  0.45526794]])

In [150]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import classification_report

In [168]:
predicted = cross_val_predict(logistic, X, y, cv=10)
print (classification_report(data.good_interest, predicted))

             precision    recall  f1-score   support

          0       0.67      0.77      0.72      1507
          1       0.54      0.41      0.47       991

avg / total       0.62      0.63      0.62      2498