In [86]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import classification_report
data=pd.read_csv("dataset.txt", header =None)

In [87]:
data.shape

(4601, 58)

In [88]:
y = data[data.columns[-1]]
y.head(3)
y.value_counts()

0    2788
1    1813
Name: 57, dtype: int64

In [89]:
X = data[data.columns[:-1]]
X.head(3)

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259

In [90]:
train=data.sample(frac=0.7,random_state=200)
test=data.drop(train.index)

In [91]:
X = train[train.columns[:-1]]
y = train[train.columns[-1]]
X_test = test[test.columns[:-1]]
y_test = test[test.columns[-1]]
print(len(y.index), len(y_test.index))

3221 1380

In [92]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB 
from sklearn.metrics import mean_squared_error
gnb = GaussianNB()
model1 = gnb.fit(X,y)
model1

GaussianNB(priors=None)

In [93]:
y_pred = model1.predict(X_test)
y_pred

print("Number of mislabeled points out of a total %d points : %d, mean square error:"
       % (data.shape[0],(y_test != y_pred).sum()))
# difference between the prediction and real value, only used in linear regression.
# print( mean_squared_error(y_test, y_pred))

Number of mislabeled points out of a total 4601 points : 230, mean square error:

In [94]:
# predicted = cross_val_predict(model1, X_test, y_test, cv=10)
print (classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.97      0.75      0.85       846
          1       0.71      0.97      0.82       534

avg / total       0.87      0.83      0.84      1380

In [95]:
mnb = MultinomialNB()
model2 = mnb.fit(X,y)
model2

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [96]:
y_pred = model2.predict(X_test)
y_pred
print("Number of mislabeled points out of a total %d points : %d, mean square error:"
       % (data.shape[0],(y_test != y_pred).sum()))

Number of mislabeled points out of a total 4601 points : 276, mean square error:

In [97]:
# predicted = cross_val_predict(model2, X_test, y_test, cv=10)
print (classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.83      0.85      0.84       846
          1       0.75      0.72      0.74       534

avg / total       0.80      0.80      0.80      1380

In [98]:
bnb = BernoulliNB()
model3 = bnb.fit(X,y)
model3

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [99]:
y_pred = model3.predict(X_test)
y_pred
print("Number of mislabeled points out of a total %d points : %d, mean square error:"
       % (data.shape[0],(y_test != y_pred).sum()))

Number of mislabeled points out of a total 4601 points : 150, mean square error:

In [100]:
# predicted = cross_val_predict(model2, X_test, y_test, cv=10)
print (classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.90      0.92      0.91       846
          1       0.87      0.84      0.86       534

avg / total       0.89      0.89      0.89      1380

f-score of Naive Bayes model is around 80% to 90%, lower than Random Forest ~ 95%.